body {
	background-color: #000000;
}

.path {
	stroke-width: 15;
	stroke: #ffffff;
	fill: #000000;

	stroke-dasharray: 5000;
	stroke-dashoffset: 5000;
	animation: write 5s linear forwards;
}

@keyframes write {
	0% {
		stroke-width: 15;
		fill: #000000;
		stroke-dashoffset: 5000;
	}
	
	90% {
		stroke-width: 10;
		fill: #000000;
	}

	100% {
		stroke-width: 5;
		stroke-dashoffset: 0;
		fill: #ffffff;
	}
}
@-webkit-keyframes write {
	0% {
		stroke-width: 15;
		fill: #000000;
		stroke-dashoffset: 5000;
	}
	
	90% {
		stroke-width: 10;
		fill: #000000;
	}

	100% {
		stroke-width: 5;
		stroke-dashoffset: 0;
		fill: #ffffff;
	}
}
@-moz-keyframes write {
	0% {
		stroke-width: 15;
		fill: #000000;
		stroke-dashoffset: 5000;
	}
	
	90% {
		stroke-width: 10;
		fill: #000000;
	}

	100% {
		stroke-width: 5;
		stroke-dashoffset: 0;
		fill: #ffffff;
	}
}